# Project exclude paths
/venv/
/env/
#ignoring idea
/.idea/
/vscode/
# ignoring databases
/varal_job_posting.db.sqlite3
/vendor_os.db.sqlite3
/accounts.db.sqlite3
#ignoring migrations
/jobs/migrations/
/mto/migrations/
/users/migrations/
/accounts/migrations/
/super_admin/migrations/
