{% extends 'base.html' %}
{% load static %}
{% block title %} MTO Email Verification{%endblock title %}
{% block content %}
<div class="card-body">
  <h2 class="card-title text-primary"><b>Email Verification</b></h2>
  <form method="POST" action="{% url 'mto:verifying_otp' username=username %}" id="email-verification">
    {% csrf_token %}
    <div class="form-group">
      <label>OTP Code</label>
      <input type="number" name="otp" class="form-control" id="id_otp" placeholder="Type OTP here">
    </div>
    <div class="form-group">
      Didn't receive?<a href="{% url 'mto:email_verification_page' username=username %}" style="color: grey;"> <small> Send OTP Again!</small></a>
    </div>
    <div class="form-group m-0">
      <button type="submit" class="btn btn-primary btn-block">Verify</button>
    </div>
  </form>
</div>
{% endblock content %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'mto/email-verification.js' %}"></script>
{% endblock scripts %}
