{% extends 'jobs/base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
{% block content %}

<div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Job Name</th>
          <th scope="col">Category ID</th>
          <th scope="col">Target Date</th>
          <th scope="col">Job Description</th>
          <th scope="col">Job Sample</th>
          <th scope="col">Job Instructions</th>
          <th scope="col">Job Quantity</th>
          <th scope="col">People Required</th>
          <th scope="col">Skills</th>
          <th scope="col">Job Cost</th>
          

          
        </tr>
      </thead>
      <tbody>
      {% for dat in data %}
        <tr>
          <th scope="row">{{dat.id}}</th>
          <td><a href="{% url 'jobs:microtask_job_details' id=dat.id %}">{{dat.job_name}}</a></td>
          <!-- <td>{{dat.job_name}}</td> -->
          <td>{{dat.cat_id}}</td>
          <td>{{dat.target_date}}</td>
          <td>{{dat.job_description}}</td>
          <td><a href="/media/{{ dat.sample }}" target="_blank">{{ dat.sample_filename }}</a></td>
          <td><a href="/media/{{ dat.instructions }}" target="_blank">{{ dat.instructions_filename }}</a></td>
          <td>{{dat.job_quantity}}</td>
          <td>{{dat.job.people_required_for_valid_tc}}</td>
          <td>{{dat.job.skills}}</td>
          <td>{{dat.job.job_cost}}</td>
         
        </tr>
    {% endfor %}
      </tbody>
    </table>
</div>   
<nav aria-label="Pagination">
  <ul class="pagination justify-content-center fixed-bottom py-4">
    {% if data.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{data.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{data.number}}</a></li>
    {% if data.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{data.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock content %}

       <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>