{% extends 'jobs/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block csrf %}
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>
{% endblock %}
{% block content %}
<div class="mt-5">
			<div class="card-body">
				<h4 class="mt-5">Add Mal requirement</h4>
			</div>
        <div class="alert alert-success mt-3">
            <span data-notify="icon" class="tim-icons icon-alert-circle-exc"></span>
            <span data-notify="message" id="message"></span>
        </div>
        <div class="card">
          <div class="card-body">
            <form action="{% url 'jobs:add_mal' %}" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{form.non_field_errors}}
                 <div class="form-group">
                    <label>identification number</label> {{form.identification_number|add_class:"form-control"}}
                     <div class="text-danger" id="error-identification-number">{{form.errors.identification_number}}</div>
                </div>
                 <div class="form-group">
                    <label>assembly line id</label> {{form.assembly_line_id|add_class:"form-control"}}
                      <div class="text-danger" id="error-assembly-line-id"></div>
                </div>
                <div class="form-group">
                    <label>assembly line name</label> {{form.assembly_line_name|add_class:"form-control"}}
                     <div class="text-danger" id="error-assembly-line-name"></div>
                </div>
                 <div class="form-group">
                    <label>person_name</label> {{form.person_name|add_class:"form-control"}}
                      <div class="text-danger" id="error-person-name">{{form.errors.person_name}}</div>
                </div>
                 <div class="form-group">
                    <label>output folder link</label> {{form.output|add_class:"form-control"}}
                      <div class="text-danger" id="error-output"></div>
                </div>
                <div class="form-group">
                    <label>Name of microtask_category</label>
                    <select name="cat_id" class="form-control" required="" id="id_cat_id">
                        <option value="" selected="">---------</option>
                        {% for i in jobs %}
                            <option value="{{i}}"> {{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <label>Name of micro task</label>
                    <select name="job_name" class="mic_name form-control" required="" id="id_job_name"></select>
                <div class="text-danger" id="error-microtask_name"></div>
                </div>

                <div id="jobs-category"></div>  

                <div class="form-group">
                    <label>target date</label>
                      {% render_field form.target_date type='datetime-local' class+="form-control" %} 
                     <div class="text-danger" id="error-target-date"></div>
                </div>
                 <div class="form-group">
                    <label>total_budget</label> {{form.total_budget|add_class:"form-control"}}
                      <div class="text-danger" id="error-total_budget"></div>
                </div>
                <div class="form-group">
                    <label>job description</label> {{form.job_description|add_class:"form-control"}}
                     <div class="text-danger" id="error-job_description"></div>
                </div>
                
                <div class="form-group">
                    <label>job quantity</label> {{form.job_quantity|add_class:"form-control"}}
                     <div class="text-danger" id="error-job_quantity"></div>
                </div>
                 <div class="form-group">
                    <label>input folder</label> {{form.input_folder|add_class:"form-control"}}
                      <div class="text-danger" id="error-input_folder"></div>
                </div>
                
                <button type="submit" class="btn btn-primary">submit</button>
            </form>
          </div>
        </div>
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% comment %} <script src="{% static 'jobs/add-mal.js' %}"></script>
    <script src="{% static 'jobs/displaying-category.js' %}"></script>
    <script>
        let get_cat_url = "{% url 'jobs:displaying_categories' %}"
    </script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_cat_id").change(function () {
            const cat_id = $(this).val();  
            console.log(cat_id)
            $.ajax({                       
                url: "/ajax_url/",                    
                data: {
                    'cat_ide': cat_id       
                },
                success: function (data) {   
                    console.log(data)
                    $(".mic_name").html(data);  
                }
            });
        });
        $("#id_job_name").change(function () {
            const jb_name = $(this).val();
            console.log(jb_name)
            $.ajax({
                url: "/ajax_url2/",
                data: {
                    'jb_name': jb_name
                },
                success: function (data) {   
                    console.log(data)
                    $("#jobs-category").html(data);
                }
            });
        });
    </script>
{% endblock %}
